<!--
  Generated template for the ThirdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Second Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>This is Second Page</p>
  <button ion-button outline (click)='click_function();'>Go To Home Page</button>
</ion-content>
